# Logs
logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules

_site
frontend/dist
frontend/dist-ssr
dist
bin
*.local
config.yaml
# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
examples
blog/node_modules
blog/.cache
blog/_site
teleskopio-*.tgz